<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    {{#block title}}
    {{/block}}
  </title>

  <style>
  .header{
    background-color: #f00;
    color: #fff;
    height: 100px;
  }

  .footer{
    clear: both;
    background-color: #0f0;
    color: #fff;
    height: 100px;
  }
  </style>
</head>
<body>
  <div class="header">
    {{#include '../partials/header'}}
    {{/include}}
  </div>
  <div class="middle">
    {{#block body}}
      default
    {{/block}}
  </div>
  <div class="footer">
    {{#include '../partials/footer'}}
    {{/include}}
  </div>
</body>
</html>